.blog-details {
    margin: 20px auto;
    max-width: 100%;
    width: 60%;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px 2px rgba(217, 210, 210, 0.8);
    border-radius: 10px;
    text-align: center;
}

.blog-details h1 {
    font-size: 1.5rem;
}

.blog-details .createdAt {
    padding-bottom: 10px;
}

.blog-details img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}

.description {
    margin-bottom: 30px;
    text-align: left;
}

.btns {
    display: flex;
    justify-content: start;
}

.btns :last-child {
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .blog-details {
        width: 100%;
    }

    .blog-details img {
        max-width: 100%;
    }
}