.blog-card__wrapper {
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
    background-color: #fff;
}

.blog-card__image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-card__no-image {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #888;
    border-radius: 10px;
}

.blog-card__title h2 {
    width: 100%;
    font-size: 1.2rem;
    color: #333;
    margin: 0!important;
}

.blog-card__description {
    width: 100%;
    height: 100%;
    text-align: left;
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 0.9rem;
    margin-top: 10px;
}

.blog_card__info-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.read-more {
    margin-left: 0!important;
    width: 100%;
}

.link-wrapper {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.createdAt {
    margin: 0!important;
    margin-top: 10px!important;
    color:gray;
    font-size: 0.8rem;
}