.blog-card__wrapper {
    width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px 2px rgba(217, 210, 210, 0.8);
    border-radius: 10px;
}

.blog-card__image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blog-card__no-image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.blog-card__title h2 {
    width: 100%;
    margin: 10px 0;
    font-size: 1.2rem;
}

.blog-card__description {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.blog_card__info-wrapper {
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex: 1;
}

.btns {
    display: flex;
    justify-content: space-between;
}